* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
}

/* 去除列表默认样式 */
li {
  list-style: none;
}

/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
  text-decoration: none;
  color: #333;
}

/* 右浮动 */
.floatR {
  float: right;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

/* 去除input默认样式 */
input {
  border: none;
  outline: none;
  color: #333;
}
/* 设置img的垂直对齐方式为居中对齐 */
img {
  vertical-align: middle;
}
/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}


