
/* 快捷导航区域 */
.shortcut{
    height: 52px;
    line-height: 52px;
    background-color: #333;
}

/* 版心 */
.heart{
    width: 1240px;
    margin: 0 auto;
}
/* 浮动方向-左浮动-从左到右 */
.shortcut li{
    float: left;
    color: #666;
}
/* 链接中的文字 */
.shortcut li a{
    color: #dcdcdc;
    font-size: 14px;

}
.shortcut li a:hover{
    color: #27ba9b;
    text-decoration: none;
}
/* 导航文字间的|外边距 */
.shortcut li:nth-child(2n){
    margin: 0 16px;
}
/* 导航区域 */
.header{
    height: 130px;
}
.header_dingwei{
    position: relative;
}

/* log盒子的设置 */
.logo{
    position: absolute;
    top: 30px;
    left: 25px;
    width: 207px;
    height: 90px;
    background: url(../images/logo.png) no-repeat;
}

.navigation{
    position: absolute;
    top: 53px;
    left: 248px;
    height: 31px;
    line-height: 31px;
}
.navigation li{
    float: left;
    margin: 0 24px;
}
.navigation a{
    padding-bottom: 7px;
}
.navigation li a:hover{
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}
.search_shop{
    position: absolute;
    top: 53px;
    right: 0;
    width: 222px;
    height: 31px;
}

.search_shop input{
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    height: 31px;
    font-size: 14px;
    color: #ccc;
    padding-left: 25px;
    border-bottom: 1px solid #e7e7e7;
      background: url(../uploads/搜索.png) no-repeat -119px -69px;
}
.search_shop a{
    position: absolute;
    top: 4px;
    right: 12px;
    width: 23px;
    height: 23px;
    background: url(../uploads/购物\ 车1.png) no-repeat -119px -69px;
}
.search_shop span{
    position: absolute;
    top: -10px;
    right: -5px;
    padding:0 6px;
    background-color: #e26237;
    border-radius: 20px;
    font-size: 13px;
    color: #fff;
}
.wrapper {
  margin: 0 auto;
  width: 1240px;
}
.footer{
  height: 582px;
  background-color: #f5f5f5;

}
.service{
  height: 179px;
  border-bottom: 1px solid #e8e8e8;
}
.service ul{
  display: flex;
  height: 179px;
  justify-content: space-evenly;
  align-items: center;
}
.service li{
  height: 58px;
  background: url(../images/sprite.png) no-repeat;
  padding-left: 78px;
}
.service li:nth-child(2){
  background-position: 0 -58px;
}
.service li:nth-child(3){
  background-position: 0 -116px;
}
.service li:nth-child(4){
  background-position: 0 -174px;
}
.service h5{
  line-height: 58px;
  font-size: 28px;
}
.help{
  display:flex;
  justify-content: space-between;
  padding-top: 58px;
  right:50px;
  height: 302px;
}
.help dt{
  margin-bottom: 20px;
  font-size: 18px;
}
.help dd a{
  line-height: 32px;
  color: #969696;
}
.help dd .iconfont{
  color: #5EB69C;
}
.help .right ul{
  display: flex;
  justify-content: space-between;
  width: 295px;
}
.help .right img{
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}
.help .right p{
  text-align: center;
  color: #969696;
}
.copyright{
  text-align: center;
}
.copyright p,
.copyright p a{
  color: #A1A1A1;
}
.copyright p{
  margin-bottom: 10px;
}

